li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

/* header */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.3rem;
  background-color: white;
}

.menuItems {
  display: none;
}

.navRight img {
  width: 1.5rem;
}

.logo {
  margin-left: 0.5rem;
}

.cart {
  margin-right: 0.7rem;
}

.carousel {
  position: relative;
  display: block;
}

.arrows img {
  top: 40%;
  z-index: 2;
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 100%;
}

.arrows .arrow1 {
  right: 2rem;
}

.arrows .arrow2 {
  left: 2rem;
}

.siema {
  z-index: -1;
  width: 100%;
  position: relative;
}

.siema img {
  width: 100%;
  overflow: hidden;
  height: auto;
  display: block;
}

.main {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.orange-text {
  font-weight: 700;
  color: #ff7d1a;
}

h1 {
  margin: 1rem 0;
}

p {
  color: #68707d;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price {
  font-size: 2rem;
  font-weight: 700;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discount {
  color: #ff7d1a;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffede0;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  height: 2rem;
}

.discount-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b6bcc8;
  text-decoration: line-through;
}

.quantity {
  width: 100%;
  background-color: #f7f8fd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.counter {
  position: relative;
}

.counter img {
  top: 40%;
  z-index: 2;
  position: absolute;
  background-color: white;
}

.counter img.plus {
  right: 2rem;
}

.counter img.minus {
  left: 2rem;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  padding: 1.5rem 2rem;
  margin-bottom: 10rem;
  text-decoration: none;
  background: #ff7d1a;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, -webkit-transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease;
  transition: background 250ms ease-in-out, transform 150ms ease, -webkit-transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

button img {
  -webkit-filter: brightness(500%) contrast(200%);
          filter: brightness(500%) contrast(200%);
  margin-right: 1rem;
}

button:hover,
button:focus {
  background: #ff7d1a;
  -webkit-box-shadow: 0px 1rem 1rem 0px rgba(255, 136, 0, 0.247);
          box-shadow: 0px 1rem 1rem 0px rgba(255, 136, 0, 0.247);
}

button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}
/*# sourceMappingURL=style.css.map */