// colors primary
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
// secondary
$veryVarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
// with75%opacityforlightboxbackground
$black: hsl(0, 0%, 0%);

// font weights
$bold: 400;
$bolder: 700;

li {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}

// final css

body {
  font-size: 16px;
  font-family: "Space Mono", monospace;
}

/* header */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.3rem;
  background-color: white;
}
.menuItems {
  display: none;
}

.navRight {
  img {
    width: 1.5rem;
  }
}

// images margin in nav
.logo {
  margin-left: 0.5rem;
}
.cart {
  margin-right: 0.7rem;
}

// carousel

.carousel {
  position: relative;
  display: block;
}

.arrows {
  width: 100vw;

  // arrows

  img {
    top: 40%;
    z-index: 2;
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 100%;
  }

  .arrow1 {
    right: 2rem;
  }

  .arrow2 {
    left: 2rem;
  }
}

.siema {
  z-index: -1;
  width: 100%;
  img {
    width: 100%;
    overflow: hidden;
  }
  position: relative;
}

// main

.main {
  padding: 0 1.5rem;
}
